<div class="background">

  <div class="row">

    <div class="logo col s4 left-align"></div>

    <div class="col s4 center-align"></div>

    <div class="col s4 right-align">

      <label class="col s4">Language</label>
      <select class="col s8 browser-default">
        <option value="" disabled selected>English</option>
      </select>

    </div>

    <div class="row">
      <h1 class="col s12 center-align white-text">Register now and enter the arcade world</h1>
    </div>

    <div class="row">
      <h5 class="col s12 center-align white-text">First, let's get your email.</h5>
    </div>

    <div class="row">
      <form class="col s12">

        <div class="col s4"></div>

        <div class="input-field col s4 center-align white-text">
          <input id="first_name" type="text" class="validate white-text" required>
          <label for="first_name">Enter email here</label>
        </div>

        <div class="col s4"></div>
      </form>
    </div>

    <div class="row">
      <div class="col s5"></div>
      <a class="col s2 waves-effect waves-light btn center-align">Start</a>
      <div class="col s5"></div>
    </div>

    <div class="row">
      <div class="col s4"></div>

      <div class="col s4">

        <div class="row">
          <p class="col s4">
            <label>
              <input name="group1" type="radio" checked />
              <span>Step 1</span>
            </label>
          </p>
          <p class="col s4">
            <label>
              <input name="group1" type="radio" disabled="disabled" />
              <span>Step 2</span>
            </label>
          </p>
          <p class="col s4">
            <label>
              <input name="group1" type="radio" disabled="disabled" />
              <span>Step 3</span>
            </label>
          </p>
        </div>
        
      </div>

      <div class="col s4"></div>
    </div>

  </div>