.background {
    //background-image: url("assets/wallpaper.jpg");
    //background-size: 100% 100%;
}

.logo {
    background-image: url("../../assets/imgs/flipper.png");
    background-repeat: no-repeat;
    background-size: 50% 50%;
    width: 389px;
    height: 167px;
}

.white-text {
    color: white;
}