.background {
    background-image: url("../../assets/imgs/game-wallpaper.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.logo {
    background-image: url("../../assets/imgs/flipper.png");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    width: 389px;
    height: 75px;
}

.game-img {
    border-radius: 5%;
}

.main-content {
    margin-top: 5%;
    margin-bottom: 5%;
}

//Materialize Override
select {
    border-color: #9e9e9e;
    background-color: rgba(0,0,0,1);
    color: #9e9e9e;
}

.white-text {
    color: white;
}

.disabled-text {
    color: #9e9e9e;
}

@media screen and (max-width: 2560px) {
    .large-screen {
        display: inline;
    }
    .small-screen {
        display: none;
    }

    .danepic {
        background-image: url("../../assets/imgs/danepic.png");
        background-repeat: no-repeat;
        background-size: 30% 115%;
        width: 400px;
        height: 70px;
    }
}

@media screen and (max-width: 375px) {
    .large-screen {
        display: none;
    }
    .small-screen {
        display: inline;
    }

    .danepic {
        background-image: url("../../assets/imgs/danepic.png");
        background-repeat: no-repeat;
        background-size: 30% 100%;
        width: 400px;
        height: 70px;
        background-position: center;
    }

}