.white-text {
    color: white;
}

.disabled-text {
    color: #9e9e9e;
}

.danepic {
    background-image: url("../../../assets/imgs/danepic.png");
    background-repeat: no-repeat;
    background-size: 30% 115%;
    width: 400px;
    height: 70px;
}