<div class="row">
    <h1 class="col s12 center-align disabled-text">
        Report a bug or give us suggestions to improve your experience!
    </h1>
</div>

<form [formGroup]="formGroup" (ngSubmit)="send()">
    <div class="row">
        <div class="col s12">
            <div class="col s4"></div>

            <div class="col s4 white-text">
                <label class="col s4">Game:</label>
                <select #gameInput formControlName="gameID" class="col s8 browser-default" required>
                    <option *ngFor="let game of gameSelect" [value]="game" value="gameID">{{ game.name }}</option>
                </select>
            </div>

            <div class="col s4"></div>

        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="col s4"></div>

            <div class="col s4 white-text">
                <label class="col s4">Platform:</label>
                <select #platformInput formControlName="platform" class="col s8 browser-default" required>
                    <option *ngFor="let platform of platformSelect" [value]="platform" value="platform">{{ platform }}
                    </option>
                </select>
            </div>

            <div class="col s4"></div>

        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="col s4"></div>

            <div class="input-field col s4 center-align white-text">
                <textarea #commentsInput formControlName="comments" id="comments" class="materialize-textarea"
                    minlength="0" maxlength="500"></textarea>
                <label for="commentsInput">Comments</label>
            </div>

            <div class="col s4"></div>

        </div>
    </div>

    <div class="row">
        <div class="col s5"></div>
        <button class="col s2 waves-effect waves-light btn center-align">Send</button>
        <div class="col s5"></div>
    </div>
</form>