<div class="background">

    <div class="row">

        <div class="logo col s4 left-align"></div>

        <div class="col s4 center-align"></div>

        <div class="col s4 right-align">

            <label class="col s4">Language</label>
            <select class="col s8 browser-default">
                <option value="" disabled selected>English</option>
            </select>

        </div>

    </div>

    <!-- Form -->
    <app-bug-form *ngIf="enableForm"></app-bug-form>

    <!-- Login -->
    <app-bug-login *ngIf="enableLogin"></app-bug-login>

    <!-- Thankyou -->
    <app-bug-thankyou *ngIf="enableThankyou"></app-bug-thankyou>

    <div class="row">
        <div class="danepic col s4"></div>
        <div class="col s4 center-align disabled-text">
            © 2020 Danepic Games.
        </div>
        <div class="col s4"></div>
    </div>

</div>